/*
Color: #d9d6ff e8e6fa
*/

/*-----------------------------------*/
/* ---------- BASIC SETUP ---------- */
/*-----------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:  #e8e6fa;
    width: 100%;
    height: 100%;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /* First font option, second font option... */
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----------------------------------*/
/* ------ REUSABLE COMPONENTS ------ */
/*-----------------------------------*/


.row {
    width: 80%;
    /* margin: 0 auto 0 auto; /* Top RIght Bot Left */
    margin: 0 auto; /* TopBot LeftRight */
}


/*-----------------------------------*/
/* -------- Main Navegatpr --------- */
/*-----------------------------------*/

.main-nav {
    background-color: #e8e6fa;
    text-align: center;
}

.main-nav li {
    position: relative;
    display: inline-block;
    margin-right: 150px;
    color: #1f1f1f;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    position: absolute;
    text-decoration: none; /* Tira os efeitos de link azuis */
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 90%;
    transition: all 0.3s;
    border-radius: 20%;
    z-index: +1;
    text-align: center;
    padding: 5px;
}

.main-nav li a:hover,
.main-nav li a:active { 
    font-size: 110%;
    background-color: #e2dfff;
    z-index: 0;
    text-align: center;
}

/*-----------------------------------*/
/* ------------ Header ------------- */
/*-----------------------------------*/

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0.26)), url(assets/wii.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mainpage {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
}

.pagetitle {
    font-size: 300%;
    color: white;
}

.textdesc {
    color: #ffffff;
    background-color: rgba(21, 21, 21, 0.5);
    font-size: 130%;
    letter-spacing: 1px;
    width: 74%;
    padding-left: 7px;
}

.textdesc2 {
    color: rgb(187, 184, 255);
    background-color: rgba(21, 21, 21, 0.5);
    font-size: 130%;
    letter-spacing: 1px;
    width: 74%;
    padding-left: 7px;
}

/*-----------------------------------*/
/* ----------- Library ------------- */
/*-----------------------------------*/

.section_library {
    padding-bottom: 80px;
}

.titlelibrary {
    margin-top: 55px;
    text-align: center;
}

.titlelibrary:after {
    display: block;
    height: 3px;
    background-color: #b2b8ff;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.library_gamebox {
    outline:none; 
}

.library_gamebox span {
    z-index: 10;
    display: none; 
    padding: 14px 20px; /*Distance text-border*/
    margin-top: 30px;  /* Distance maintext-box*/
    margin-left: -160px; /* Distance EndOfMaintext-box*/
    width: 300px;  /* Box width */
    line-height: 22px;
}

.library_gamebox:hover span{
    display:inline; 
    position:absolute; 
    border:2px solid #FFF;  
    color:#1f1f1f;
    background: #e8e6fa;
}
    
/*CSS3 extras*/
.library_gamebox span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
}

/*-----------------------------------*/
/* ----------- RELEASES ------------ */
/*-----------------------------------*/

.section_releases {
    background-color: #d8d8ef;
    padding-bottom: 80px;
}

.titlereleases {
    margin-top: 55px;
    text-align: center;
}

.titlereleases:after {
    display: block;
    height: 3px;
    background-color: #b2b8ff;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.releases_colection,
.releases_maincolection{ /*meals-showcase*/
    list-style: none;
    width: 100%;
}

.releases_maincolection li { /*meals-showcase*/
    display: block;
    float: left;
    width: 100%;
}

.releases_colection li { /*meals-showcase*/
    display: block;
    float: left;
    width: 25%;
}

.releases_mainimage, 
.releases_image { /*meal-photo*/
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.releases_image img,
.releases_mainimage img {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: opacity 0.5s;
}

.releases_image img:hover,
.releases_mainimage img:hover {
    opacity: 0.1;
}

.releases_gamebox span {
    .releases_image img:hover;
    text-align: center;
    z-index: 10;
    display: none; 
    padding: 14px 20px; /*Distance text-border*/
    margin-top: -33%;  /* Distance maintext-box*/
    width: 80%;  /* Box width */
}

.releases_gamebox:hover span{
    display: inline; 
    position: absolute; 
    color: #fff;
    font-size: 4vw;
    -webkit-user-select: none;
}

.releases_secgamebox span {
    .releases_image img:hover;
    text-align: center;
    z-index: 10;
    display: none; 
    padding: 14px 20px; /*Distance text-border*/
    margin-top: -10%;  /* Distance maintext-box*/
    width: 20%;  /* Box width */
}

.releases_secgamebox:hover span{
    display: inline; 
    position: absolute; 
    color: #fff;
    font-size: 1vw;
    -webkit-user-select: none;
}



.h3_releases {
    margin-top: 30px;
    font-size: 200%;
    text-align: center;
}

.releases_list {
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #b2b8ff;
    transition: all 0.3s;
}
.releases_list:hover {
    height: 3px;
    background-color: #dee0f8;
    padding: 5px;
    content: " ";
    width: 200px;
    margin-top: 1px;
    margin-bottom: 15px;
}

/*-----------------------------------*/
/* ----------- FEATURES ------------ */
/*-----------------------------------*/

.section_features {
    background-color: ;
    padding-bottom: 80px;
}

.titlefeatures {
    margin-top: 55px;
    text-align: center;   
}

.box_features {
    background-color: #e2dfff;
}

.titlefeatures:after {
    display: block;
    height: 3px;
    background-color: #b2b8ff;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.h3_features {
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
}

.p_features {
    word-spacing: 2px;
    margin: 5px 5px;
    line-height: 130%;
    padding-bottom: 5px;
}

/*-----------------------------------*/
/* ----------- JOIN US ------------- */
/*-----------------------------------*/

.section_joinus {
    padding-bottom: 80px;
    background-color: #d8d8ef;
}

.titlejoinus {
    margin-top: 55px;
    text-align: center;   
}

.titlejoinus:after {
    display: block;
    height: 3px;
    background-color: #b2b8ff;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.h3_joinus {
    text-align: center;
    margin: 20px auto;
}

.form_joinus {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.test {
    margin-bottom: -3%;
    width: 32%;
}

.btn_joinus {
    margin-top: 20px;
    text-align: center;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0; /*TRBL*/   
}

input[type=submit] { /*Both the same sstyle, after and before its been clicked*/
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #d9d6ff;
    color: #000;
    margin-right: 15px;
}

input[type=submit]:active,
input[type=submit]:hover {
    background-color: #c3beff;   
}

/*-----------------------------------*/
/* ------------ FOOTER ------------- */
/*-----------------------------------*/

footer {
    padding: 10px;
    background-color: #000;   
}

.p_footer {
    color: #d9d6ff; 
    text-align: center;
}