/*
Color: #d9d6ff
*/

.calendar_day {
    text-align: center;
}

.calendar_gamesbox {
    width: 80%;   
}

.row {
    width: 80%;
    /* margin: 0 auto 0 auto; /* Top RIght Bot Left */
    margin: 0 auto; /* TopBot LeftRight */
}